@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --text-base: 18px;

    --color-primary-blue-500: hsl(215, 51%, 70%);
    --color-primary-cyan-400: hsl(178, 100%, 50%);

    --color-neutral-blue-800: hsl(215, 32%, 27%);
    --color-neutral-blue-900: hsl(216, 50%, 16%);
    --color-neutral-blue-950: hsl(217, 54%, 11%);
}